body {
    font-family: Arial, sans-serif;
    background-color: #bad2e7;
    margin: 20px;
}

h1 {
    color: #2c3e50;
}

ul li {
    margin: 5px 0;
    color: #2c3e50;
}

img {
    border: none;
    border-radius: 10px;
    width: 1000px;
    height: 450px;
}
